# Bluetooth Audio - Hearing Access Service options
#
# Copyright (c) 2022 Codecoup
#
# SPDX-License-Identifier: Apache-2.0
#

if BT_AUDIO

config BT_HAS
	bool "Hearing Access Service support [EXPERIMENTAL]"
	select EXPERIMENTAL
	help
	  This option enables support for Hearing Access Service.

if BT_HAS
choice BT_HAS_TYPE
	prompt "Hearing Aid Type selection"
	help
	  Select the Hearing Aid Type to compile.

config BT_HAS_HA_TYPE_MONAURAL
	bool "Monaural Hearing Aid"

config BT_HAS_HA_TYPE_BINAURAL
	bool "Binaural Hearing Aid"

config BT_HAS_HA_TYPE_BANDED
	bool "Banded Hearing Aid"

endchoice # BT_HAS_HA_TYPE

config BT_HAS_IDENTICAL_PRESET_RECORDS
	bool "Identical preset records in Binaural Hearing Aid Set"
	depends on BT_HAS_HA_TYPE_BINAURAL
	help
	  Set if the list of preset records is identical the list of preset records
	  on the other member in the Binaural Hearing Aid Set.
	  This option sets Independent Presets field in Hearing Aid Features to 0b0.

config BT_HAS_PRESET_SYNC_SUPPORT
	bool "Preset synchronization support"
	depends on BT_HAS_HA_TYPE_BINAURAL && BT_HAS_HA_IDENTICAL_PRESET_RECORDS
	help
	  Set if there is support for active preset changes relay to the other
	  member in the Binaural Hearing Aid Set.

endif # BT_HAS

config BT_HAS_CLIENT
	bool "Hearing Access Service support [EXPERIMENTAL]"
	select EXPERIMENTAL
	help
	  This option enables support for Hearing Access Service client.

if BT_HAS_CLIENT
config BT_HAS_CLIENT_HA_COUNT
	int "Maximum number of connected Hearing Aid devices"
	default 2
	help
	  Maximum number of simultanously connected Hearing Aid devices
endif # BT_HAS_CLIENT

if BT_HAS || BT_HAS_CLIENT
config BT_DEBUG_HAS
	bool "Hearing Access Service debug"
	depends on BT_AUDIO_DEBUG
	help
	  This hidden option enables enables Hearing Access Service debug logs.

config BT_HAS_PRESET_COUNT
	int "Preset record list size"
	default 3
	range 0 10
	help
	  This option sets the number of Hearing Access Service Preset instances
	  that can be maintained as client or server.
	  Setting this to 0 disables Set Active Preset by Index and Write Preset
	  Name procedure client support.
endif # BT_HAS || BT_HAS_CLIENT

endif # BT_AUDIO
